@model IEnumerable<HocVien>
@{
    ViewData["Title"] = "Index";
}

<div class="container n-3">
    <div class=" row pt-4">
        <div class="col pt-6">
            <h2 class="text-primary">Học viên</h2>
        </div>
        <div class=" col pt-6 text-end">
            <a asp-controller="HocVien" asp-action="Create" class=" btn btn-primary">
                <i class="bi bi-file-plus"></i> &nbsp; Thêm học viên
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped" style="width : 100%">
        <thead>
            <tr>
                <th>
                    Tên học viên
                </th>
                <th>
                    Ngày tháng năm sinh
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="25%">
                        @obj.HoTen
                    </td>
                    <td width="25%">
                        @obj.NgaySinh
                    </td>
                    <td width="25%">
                        @obj.SoDienThoai
                    </td>
                    <td width="25%">
                        @obj.Email
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="HocVien" asp-action="Edit" asp-route-id="@obj.MaHocVien" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> &nbsp; Edit
                            </a>
                        </div>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="HocVien" asp-action="Delete" asp-route-id="@obj.MaHocVien" class="btn btn-primary">
                                <i class="bi bi-trash-fill"></i> &nbsp; Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


