



@model IEnumerable<KhoaHoc>

@{
    ViewData["Title"] = "Danh Sách Khóa Học";
}

<div class="container mt-4">
    <div class="row pt-4">
        <div class="col pt-6">
            <h2 class="text-primary">Danh Sách Khóa Học</h2>
        </div>
        <div class="col pt-6 text-end">
            @if (Context.Session.GetString("Role") == "Admin")
            {
                <a asp-controller="KhoaHoc" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-file-plus"></i> &nbsp; Thêm khóa học
            </a>
            }
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Tên khóa học</th>
                <th>Giảng viên</th>
                <th>Học phí</th>
                <th>Số học viên</th>
                <th>Số lượng học viên hiện tại</th>
                @if (Context.Session.GetString("Role") == "Admin")
                {
                    <th></th> <!-- Only show this column for Admins -->
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.TenKhoaHoc</td>
                    <td>@obj.GiangVien</td>
                    <td>@obj.HocPhi.ToString("C0")</td>
                    <td>@obj.SoLuongHocVien</td>
                    <td>@obj.SoLuongHocVienHienTai</td>
                    @if (Context.Session.GetString("Role") == "Admin")
                    {
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="KhoaHoc" asp-action="Edit" asp-route-id="@obj.MaKhoaHoc" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i> &nbsp; Edit
                                </a>
                            </div>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="KhoaHoc" asp-action="Delete" asp-route-id="@obj.MaKhoaHoc" class="btn btn-primary">
                                    <i class="bi bi-trash-fill"></i> &nbsp; Delete
                                </a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
