@model IEnumerable<KhoaHoc>
@{
    ViewData["Title"] = "Index";
}

<div class="container n-3">
    <div class=" row pt-4">
        <div class="col pt-6">
            <h2 class="text-primary">Khoá học</h2>
        </div>
        <div class=" col pt-6 text-end">
            <a asp-controller="KhoaHoc" asp-action="Create" class=" btn btn-primary">
                <i class="bi bi-file-plus"></i> &nbsp; Mở khoá học
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped" style="width : 100%">
        <thead>
            <tr>
                <th>
                    Tên khoá học
                </th>
                <th>
                    Giảng viên phụ trách
                </th>
                <th>
                    Thời gian khai giảng
                </th>
                <th>
                    Học phí
                </th>
                <th>
                    Số lượng học viên
                </th>
                <th>
					Học viên đã đăng ký
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="15%">
                        @obj.TenKhoaHoc
                    </td>
                    <td width="15%">
                        @obj.GiangVien
                    </td>
                    <td width="15%">
                        @obj.ThoiGianKhaiGiang
                    </td>
                    <td width="15%">
                        @obj.HocPhi
                    </td>
                    <td width="15%">
                        @obj.SoLuongHocVien
                    </td>
                    <td width="15%">
                        @obj.SoLuongHocVienHienTai
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="KhoaHoc" asp-action="Edit" asp-route-id="@obj.MaKhoaHoc" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> &nbsp; Edit
                            </a>
                        </div>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="KhoaHoc" asp-action="Delete" asp-route-id="@obj.MaKhoaHoc" class="btn btn-primary">
                                <i class="bi bi-trash-fill"></i> &nbsp; Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


